crop/
annotated_samples/
models/
test_images/
test_resized_images/
train_images/
train_resized_images/
submissions/
__pycache__/
aggregated_bounding_boxes_dataset_train.csv
starter-*.ipynb
intro*.ipynb
spring_comp_v1.ipynb
*submission.csv
train.csv
eff_net.py
inception.py
vgg_net.py